package main

import (
	"fmt"

	"github.com/sofa/sofa/server/public/model"
	"github.com/sofa/sofa/server/public/plugin"
)

type TestPlugin struct {
	plugin.SofaPlugin
}

func (p *TestPlugin) OnActivate() error {
	fmt.Println("activated")
	return nil
}

// This acts like a template as the content of this file gets passed to
// fmt.Sprintf to inject additional logic based on the test case.
func (p *TestPlugin) ConfigurationWillBeSaved(newCfg *model.Config) (*model.Config, error) {
	%s
}

func main() {
	plugin.ClientMain(&TestPlugin{})
}
