#SystemRoles {
    margin-top: 0;

    .SystemRoles {
        .DataGrid {
            .DataGrid_row {
                min-height: 40px;
                padding-inline-start: 16px;
                cursor: pointer;
            }

            .DataGrid_cell {
                .SystemRoles_editRow {
                    padding-inline-end: 20px;
                }
            }
        }
    }
}
