.info-toast {
    position: fixed;
    z-index: 99;
    inset-inline-end: 16px;
    bottom: 16px;
    display: grid;
    width: fit-content;
    min-height: 40px;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    background: rgb(var(--center-channel-color-rgb));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
    color: rgb(var(--center-channel-bg-rgb));
    font-family: 'Effra_Trial_SBd';
    grid-template-columns: min-content auto min-content auto;
    line-height: 20px;

    .info-toast__icon_button {
        border: none;
        background: none;
        color: inherit;
    }

    span {
        padding-inline-start: 4px;
    }

    > div {
        display: flex;
        align-items: center;

        .Icon {
            font-size: 16px;
        }
    }
}

.info-toast__undo {
    display: flex;
    height: 24px;
    align-items: center;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    margin-inline-end: 16px;
    margin-inline-start: 8px;
    background: var(--button-bg);
    color: var(--sidebar-text);
    font-size: 11px;
    font-family: 'Effra_Trial_SBd';
    line-height: 10px;
}

// Animations
.toast-appear {
    opacity: 0;
    transform: translateY(150px);
}

.toast-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms ease;
}
