.popups {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 20px;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: "Effra_Trial_SBd";
  ;
}

.popup-content h2 {
  margin: 0 0 10px;
}

.popup-content input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Effra_Trial_Md";
  html[dir="rtl"] & {
    text-align: right;
  }
}

.popup-content button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-content button:hover {
  background: #ddd;
}

// h1,
// h2 {
//   color: #009077;
// }

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.styled-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Effra_Trial_Md";
}
.styled-input:first-of-type {
  width: 800px;
}

.styled-input:focus {
  border-color: #009077;
  outline: none;
  box-shadow: 0 0 5px #009077;
}

.styled-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #009077;
  color: white;
  font-size: 16px;
  font-family: "Effra_Trial_Md";
  cursor: pointer;
  text-align: center;
}

.styled-button:hover {
  background-color: #016655 !important;
}

.styled-button:active {
  background-color: #016655;
}

.styled-error {
  width: 95%;
  margin: 20px auto;
  color: rgb(207, 12, 12);
  font-size: 14px;
 font-family: 'Effra_Trial_Bd';
  margin-top: 10px;
  text-align: center;
  background-color: #ffe6e6;
  padding: 10px;
  border: 1px solid #ff9999;
  border-radius: 4px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #009078;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
