.LessThanMaxFreeUsers,
.MoreThanMaxFreeUsers {
    display: flex;
    flex-direction: row;

    .titleAndButton {
        display: flex;
        flex-direction: column;
        margin-inline-start: 20px;

        > span {
            margin-bottom: 15px;
            font-size: 16px;
            font-family: 'Effra_Trial_SBd';
            line-height: 24px;
        }
    }
}

.MoreThanMaxFreeUsersWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
