package main

import (
	"github.com/sofa/sofa/server/public/model"
	"github.com/sofa/sofa/server/public/plugin"
)

type MyPlugin struct {
    plugin.SofaPlugin
}

func (p *MyPlugin) NotificationWillBePushed(notification *model.PushNotification, userID string) (*model.PushNotification, string) {
    %s
}

func main() {
    plugin.ClientMain(&MyPlugin{})
}
